In [153]:
#First: Review Existing Unstructured Data

In [154]:
# Importing all the necessary libraries

import os
import shutil
import pandas as pd
import json
from ast import literal_eval
from datetime import datetime
from sqlalchemy import create_engine

# Import the json files
users_data = pd.read_json('/Users/rishithareddyvari/Desktop/Fetch/users.json', lines=True)

receipts_data = pd.read_json('/Users/rishithareddyvari/Desktop/Fetch/receipts.json', lines=True)

brands_data = pd.read_json('/Users/rishithareddyvari/Desktop/Fetch/brands.json', lines=True)

In [155]:
users_data.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [156]:
brands_data.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [157]:
receipts_data.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [158]:
receipts_data = receipts_data.explode('rewardsReceiptItemList')
receipts_data.reset_index(inplace=True)

In [159]:
set().union(*(x.keys() for x in receipts_data['_id']))

{'$oid'}

In [160]:
# convert all the date fields into the standard datetime format
# Defining a function called convert with an argument d

def convert(d):
    try:
        return(datetime.utcfromtimestamp(int(d['$date'])/1000).strftime('%Y-%m-%d %H:%M:%S'))
    except TypeError:
        return(None)

In [161]:
#Converting all the datatime fields into the standard format

receipts_data['_id'] = receipts_data['_id'].apply(lambda x: x['$oid'])
receipts_data['createDate'] = receipts_data['createDate'].apply(lambda d: convert(d))
receipts_data['dateScanned'] = receipts_data['dateScanned'].apply(lambda d: convert(d))
receipts_data['finishedDate'] = receipts_data['finishedDate'].apply(lambda d: convert(d))
receipts_data['modifyDate'] = receipts_data['modifyDate'].apply(lambda d: convert(d))
receipts_data['pointsAwardedDate'] = receipts_data['pointsAwardedDate'].apply(lambda d: convert(d))
receipts_data['purchaseDate'] = receipts_data['purchaseDate'].apply(lambda d: convert(d))

In [162]:
receipts_data.head()

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,500.0,2021-01-03 00:00:00,5.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,150.0,2021-01-02 15:24:43,2.0,"{'barcode': '028400642255', 'description': 'DO...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 15:25:37,2021-01-03 15:25:37,None,2021-01-03 15:25:42,None,5.0,2021-01-03 00:00:00,1.0,"{'needsFetchReview': False, 'partnerItemId': '...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,5.0,2021-01-03 00:00:00,4.0,"{'barcode': '4011', 'description': 'ITEM NOT F...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6

In [163]:
#Users.json file

set().union(*(x.keys() for x in users_data['_id']))

{'$oid'}

In [164]:
# The _id column is a dictionary which has same key values and different values. 
# We should extract the values from the dictionary and paste it as the _id value

In [165]:
users_data['_id'] = users_data['_id'].apply(lambda i: i['$oid'])

In [166]:
# Converting the datatime fields of users.json file

users_data['createdDate'] = users_data['createdDate'].apply(lambda d: convert(d))
users_data['lastLogin'] = users_data['lastLogin'].apply(lambda d: convert(d))

In [167]:
users_data.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30,2021-01-03 15:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI

In [168]:
# A column in brands.json file "cpg" contains id and the reference

set().union(*(x.keys() for x in brands_data['cpg']))

{'$id', '$ref'}

In [169]:
# We can split the dictionary into two colmns and merging them into the brands_data dataframe

brands = pd.json_normalize(brands_data['cpg'])
brands = brands.add_prefix('cpg_')
brands
brands_data_new = pd.merge(brands_data, brands, left_index=True, right_index=True, how='outer')
brands_data_new

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,cpg_$ref,cpg_$id.$oid
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7
...,...,...,...,...,...,...,...,...,...,...
1162,{'$oid': '5f77274dbe37ce6b592e90c0'},511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,NaN,NaN,Cogs,5f77274dbe37ce6b592e90bf
1163,{'$oid': '5dc1fca91dda2c0ad7da64ae'},511111706328,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL,Cogs,53e10d6368abd3c7065097cc
1164,{'$oid': '5f494c6e04db711dd8fe87e7'},511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,Cogs,5332fa12e4b03c9a25efd1e7
1165,{'$oid': '5a021611e4b00efe02b02a57'},511111400608,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,Cogs,5332f5f6e4b03c9a25efd0b4
1166,{'$oid': '6026d757be37ce6369301468'},511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,Cogs,6026d757be37ce6369301467

In [170]:
set().union(*(x.keys() for x in brands_data_new['_id']))

{'$oid'}

In [171]:
# Getting the id value from the _id dictionary

brands_data_new['_id'] = brands_data_new['_id'].apply(lambda d: d['$oid'])
brands_data_new

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,cpg_$ref,cpg_$id.$oid
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN,Cogs,601ac114be37ce2ead437550
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS,Cogs,5332f5fbe4b03c9a25efd0ba
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,Cogs,601ac142be37ce2ead437559
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,Cogs,601ac142be37ce2ead437559
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,Cogs,5332fa12e4b03c9a25efd1e7
...,...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,NaN,NaN,Cogs,5f77274dbe37ce6b592e90bf
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin Dots® Cereal,NaN,DIPPIN DOTS CEREAL,Cogs,53e10d6368abd3c7065097cc
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,Cogs,5332fa12e4b03c9a25efd1e7
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,Cogs,5332f5f6e4b03c9a25efd0b4
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,Cogs,6026d757be37ce6369301467

In [172]:
# Third: Evaluate Data Quality Issues in the Data Provide

In [200]:
# First lets start with the Users_data dataframe

In [201]:
users_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

In [207]:
# Identifying the numerial and categorical variables

temp_var = [x for x in users_data.columns if 'date' in x or 'Date' in x]

discrete_var = [x for x in users_data.columns if users_data[x].dtype!= 'O'
           and len(users_data[x].unique())<20 and x not in temp_var]

continuous_var = [x for x in users_data.columns if users_data[x].dtype!= 'O'
                 if x not in discrete_var and x !='_id'
                 and x not in tem_var]

categorical_var = [x for x in users_data.columns if users_data[x].dtype == 'O'
               and x not in temp_var and x not in discrete_var]

print(f'{len(temp_var)} temporal variables.')
print(f'{len(discrete_var)} discrete variables.')
print(f'{len(continuous_var)} continuous variables.')
print(f'{len(categorical_var)} categorical variables.')

1 temporal variables.
1 discrete variables.
0 continuous variables.
5 categorical variables.

In [236]:
# Missing data

users_data.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [211]:
# Printing the duplicate rows

users_data[users_data.duplicated()]

,_id,active,createdDate,lastLogin,role,signUpSource,state
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
5,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
8,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,2014-12-19 14:21:22,2021-03-05 16:52:23,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,2014-12-19 14:21:22,2021-03-05 16:52:23,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,2014-12-19 14:21:22,2021-03-05 16:52:23,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,2014-12-19 14:21:22,2021-03-05 16:52:23,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,2014-12-19 14:21:22,2021-03-05 16:52:23,fetch-staff,NaN,NaN

In [230]:
# Dropping all the dupliactes

users_data.drop_duplicates()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 15:24:04,2021-01-03 15:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 15:25:30,2021-01-03 15:25:30,consumer,Email,WI
6,5ff1e1e8cfcf6c399c274ad9,True,2021-01-03 15:25:28,2021-01-03 15:25:28,consumer,Email,WI
7,5ff1e1b7cfcf6c399c274a5a,True,2021-01-03 15:24:39,2021-01-03 15:24:39,consumer,Email,WI
9,5ff1e1f1cfcf6c399c274b0b,True,2021-01-03 15:25:37,2021-01-03 15:25:37,consumer,Email,WI
...,...,...,...,...,...,...,...
435,5fc961c3b8cfca11a077dd33,True,2020-12-03 22:08:03,2021-02-26 22:39:16,fetch-staff,Email,NH
455,5fa41775898c7a11a6bcef3e,True,2020-11-05 15:17:09,2021-03-04 16:02:02,fetch-staff,Email,NaN
456,5fa32b4d898c7a11a6bcebce,True,2020-11-04 22:29:33,2021-03-04 07:21:58,fetch-staff,Google,AL
462,5964eb07e4b03efd0c0f267b,True,2017-07-11 15:13:11,2021-03-04 19:07:49,fetch-staff,NaN,IL
475,54943462e4b07e684157a532,True,2014-12-19 14:21:22,2021-03-05 16:52:23,fetch-staff,NaN,NaN

In [231]:
# After dropping all the duplicates the user dataframe left with the 212 rows

In [220]:
# Finding the number of unique values in the categorical variables

print(f'Roles: {users_data["role"].unique()}')
print(f'State: {users_data["state"].unique()}')

Roles: ['consumer' 'fetch-staff']
State: ['WI' 'KY' 'AL' 'CO' 'IL' nan 'OH' 'SC' 'NH']

In [221]:
# Second Receipts_data.json file

In [222]:
receipts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    7381 non-null   int64
 1   _id                      7381 non-null   object
 2   bonusPointsEarned        5980 non-null   float64
 3   bonusPointsEarnedReason  5980 non-null   object
 4   createDate               7381 non-null   object
 5   dateScanned              7381 non-null   object
 6   finishedDate             5970 non-null   object
 7   modifyDate               7381 non-null   object
 8   pointsAwardedDate        6080 non-null   object
 9   pointsEarned             6253 non-null   float64
 10  purchaseDate             6923 non-null   object
 11  purchasedItemCount       6897 non-null   float64
 12  rewardsReceiptItemList   6941 non-null   object
 13  rewardsReceiptStatus     7381 non-null   object
 14  totalSpent               6946 non-null   float64
 15  userId                   7381 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 922.8+ KB

In [223]:
receipts_data.describe

<bound method NDFrame.describe of       index                       _id  bonusPointsEarned  \
0         0  5ff1e1eb0a720f0523000575              500.0
1         1  5ff1e1bb0a720f052300056b              150.0
2         1  5ff1e1bb0a720f052300056b              150.0
3         2  5ff1e1f10a720f052300057a                5.0
4         3  5ff1e1ee0a7214ada100056f                5.0
...     ...                       ...                ...
7376   1115  603d0b710a720fde1000042a                NaN
7377   1116  603cf5290a720fde10000413                NaN
7378   1117  603ce7100a7217c72c000405               25.0
7379   1117  603ce7100a7217c72c000405               25.0
7380   1118  603c4fea0a7217c72c000389                NaN

                                bonusPointsEarnedReason           createDate  \
0     Receipt number 2 completed, bonus point schedu...  2021-01-03 15:25:31
1     Receipt number 5 completed, bonus point schedu...  2021-01-03 15:24:43
2     Receipt number 5 completed, bonus point schedu...  2021-01-03 15:24:43
3                            All-receipts receipt bonus  2021-01-03 15:25:37
4                            All-receipts receipt bonus  2021-01-03 15:25:34
...                                                 ...                  ...
7376                                                NaN  2021-03-01 15:42:41
7377                                                NaN  2021-03-01 14:07:37
7378                        COMPLETE_NONPARTNER_RECEIPT  2021-03-01 13:07:28
7379                        COMPLETE_NONPARTNER_RECEIPT  2021-03-01 13:07:28
7380                                                NaN  2021-03-01 02:22:34

              dateScanned         finishedDate           modifyDate  \
0     2021-01-03 15:25:31  2021-01-03 15:25:31  2021-01-03 15:25:36
1     2021-01-03 15:24:43  2021-01-03 15:24:43  2021-01-03 15:24:48
2     2021-01-03 15:24:43  2021-01-03 15:24:43  2021-01-03 15:24:48
3     2021-01-03 15:25:37                 None  2021-01-03 15:25:42
4     2021-01-03 15:25:34  2021-01-03 15:25:34  2021-01-03 15:25:39
...                   ...                  ...                  ...
7376  2021-03-01 15:42:41                 None  2021-03-01 15:42:41
7377  2021-03-01 14:07:37                 None  2021-03-01 14:07:37
7378  2021-03-01 13:07:28                 None  2021-03-01 13:07:29
7379  2021-03-01 13:07:28                 None  2021-03-01 13:07:29
7380  2021-03-01 02:22:34                 None  2021-03-01 02:22:34

        pointsAwardedDate  pointsEarned         purchaseDate  \
0     2021-01-03 15:25:31         500.0  2021-01-03 00:00:00
1     2021-01-03 15:24:43         150.0  2021-01-02 15:24:43
2     2021-01-03 15:24:43         150.0  2021-01-02 15:24:43
3                    None           5.0  2021-01-03 00:00:00
4     2021-01-03 15:25:34           5.0  2021-01-03 00:00:00
...                   ...           ...                  ...
7376                 None           NaN                 None
7377                 None           NaN                 None
7378                 None          25.0  2020-08-17 00:00:00
7379                 None          25.0  2020-08-17 00:00:00
7380                 None           NaN                 None

      purchasedItemCount                             rewardsReceiptItemList  \
0                    5.0  {'barcode': '4011', 'description': 'ITEM NOT F...
1                    2.0  {'barcode': '4011', 'description': 'ITEM NOT F...
2                    2.0  {'barcode': '028400642255', 'description': 'DO...
3                    1.0  {'needsFetchReview': False, 'partnerItemId': '...
4                    4.0  {'barcode': '4011', 'description': 'ITEM NOT F...
...                  ...                                                ...
7376                 NaN                                                NaN
7377                 NaN                                                NaN
7378                 2.0  {'barcode': 'B076FJ92M4', 'description': 'muel...
7379                 2.0  {'barcode': 'B07BRRLSVC', 'description': 'thin...
7380                 NaN                                                NaN

     rewardsReceiptStatus  totalSpent                    userId
0                FINISHED       26.00  5ff1e1eacfcf6c399c274ae6
1                FINISHED       11.00  5ff1e194b6a9d73a3a9f1052
2                FINISHED       11.00  5ff1e194b6a9d73a3a9f1052
3                REJECTED       10.00  5ff1e1f1cfcf6c399c274b0b
4                FINISHED       28.00  5ff1e1eacfcf6c399c274ae6
...                   ...         ...                       ...
7376            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
7377            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
7378             REJECTED       34.96  5fc961c3b8cfca11a077dd33
7379             REJECTED       34.96  5fc961c3b8cfca11a077dd33
7380            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33

[7381 rows x 16 columns]>

In [224]:
# Finding categorical, continuous, discrete, temporal variables

temp_var = [x for x in receipts_data.columns if 'date' in x or 'Date' in x]

discrete = [ x for x in receipts_data.columns if receipts_data[x].dtype!= 'O'
           and len(receipts_data[x].unique())>20 and x not in temp_var]

continuous_var = [x for x in receipts_data.columns if receipts_data[x].dtype !='O'
                 if x not in discrete_var and x!='_id' and x not in temp_var]

categorical_var = [x for x in receipts_data.columns if receipts_data[x].dtype=='O'
                  and x not in temp_var and x not in discrete_var]

print(f'{len(temp_var)} temporal variables.')
print(f'{len(discrete_var)} discrete variables.')
print(f'{len(continuous_var)} continuous variables.')
print(f'{len(categorical_var)} categorical variables.')

6 temporal variables.
1 discrete variables.
5 continuous variables.
5 categorical variables.

In [245]:
# Dropping all the duplicates 

print(receipts_data.drop_duplicates)

<bound method DataFrame.drop_duplicates of       index                       _id  bonusPointsEarned  \
0         0  5ff1e1eb0a720f0523000575              500.0
1         1  5ff1e1bb0a720f052300056b              150.0
2         1  5ff1e1bb0a720f052300056b              150.0
3         2  5ff1e1f10a720f052300057a                5.0
4         3  5ff1e1ee0a7214ada100056f                5.0
...     ...                       ...                ...
7376   1115  603d0b710a720fde1000042a                NaN
7377   1116  603cf5290a720fde10000413                NaN
7378   1117  603ce7100a7217c72c000405               25.0
7379   1117  603ce7100a7217c72c000405               25.0
7380   1118  603c4fea0a7217c72c000389                NaN

                                bonusPointsEarnedReason           createDate  \
0     Receipt number 2 completed, bonus point schedu...  2021-01-03 15:25:31
1     Receipt number 5 completed, bonus point schedu...  2021-01-03 15:24:43
2     Receipt number 5 completed, bonus point schedu...  2021-01-03 15:24:43
3                            All-receipts receipt bonus  2021-01-03 15:25:37
4                            All-receipts receipt bonus  2021-01-03 15:25:34
...                                                 ...                  ...
7376                                                NaN  2021-03-01 15:42:41
7377                                                NaN  2021-03-01 14:07:37
7378                        COMPLETE_NONPARTNER_RECEIPT  2021-03-01 13:07:28
7379                        COMPLETE_NONPARTNER_RECEIPT  2021-03-01 13:07:28
7380                                                NaN  2021-03-01 02:22:34

              dateScanned         finishedDate           modifyDate  \
0     2021-01-03 15:25:31  2021-01-03 15:25:31  2021-01-03 15:25:36
1     2021-01-03 15:24:43  2021-01-03 15:24:43  2021-01-03 15:24:48
2     2021-01-03 15:24:43  2021-01-03 15:24:43  2021-01-03 15:24:48
3     2021-01-03 15:25:37                 None  2021-01-03 15:25:42
4     2021-01-03 15:25:34  2021-01-03 15:25:34  2021-01-03 15:25:39
...                   ...                  ...                  ...
7376  2021-03-01 15:42:41                 None  2021-03-01 15:42:41
7377  2021-03-01 14:07:37                 None  2021-03-01 14:07:37
7378  2021-03-01 13:07:28                 None  2021-03-01 13:07:29
7379  2021-03-01 13:07:28                 None  2021-03-01 13:07:29
7380  2021-03-01 02:22:34                 None  2021-03-01 02:22:34

        pointsAwardedDate  pointsEarned         purchaseDate  \
0     2021-01-03 15:25:31         500.0  2021-01-03 00:00:00
1     2021-01-03 15:24:43         150.0  2021-01-02 15:24:43
2     2021-01-03 15:24:43         150.0  2021-01-02 15:24:43
3                    None           5.0  2021-01-03 00:00:00
4     2021-01-03 15:25:34           5.0  2021-01-03 00:00:00
...                   ...           ...                  ...
7376                 None           NaN                 None
7377                 None           NaN                 None
7378                 None          25.0  2020-08-17 00:00:00
7379                 None          25.0  2020-08-17 00:00:00
7380                 None           NaN                 None

      purchasedItemCount                             rewardsReceiptItemList  \
0                    5.0  {'barcode': '4011', 'description': 'ITEM NOT F...
1                    2.0  {'barcode': '4011', 'description': 'ITEM NOT F...
2                    2.0  {'barcode': '028400642255', 'description': 'DO...
3                    1.0  {'needsFetchReview': False, 'partnerItemId': '...
4                    4.0  {'barcode': '4011', 'description': 'ITEM NOT F...
...                  ...                                                ...
7376                 NaN                                                NaN
7377                 NaN                                                NaN
7378                 2.0  {'barcode': 'B076FJ92M4', 'description': 'muel...
7379                 2.0  {'barcode': 'B07BRRLSVC', 'description': 'thin...
7380                 NaN                                                NaN

     rewardsReceiptStatus  totalSpent                    userId
0                FINISHED       26.00  5ff1e1eacfcf6c399c274ae6
1                FINISHED       11.00  5ff1e194b6a9d73a3a9f1052
2                FINISHED       11.00  5ff1e194b6a9d73a3a9f1052
3                REJECTED       10.00  5ff1e1f1cfcf6c399c274b0b
4                FINISHED       28.00  5ff1e1eacfcf6c399c274ae6
...                   ...         ...                       ...
7376            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
7377            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33
7378             REJECTED       34.96  5fc961c3b8cfca11a077dd33
7379             REJECTED       34.96  5fc961c3b8cfca11a077dd33
7380            SUBMITTED         NaN  5fc961c3b8cfca11a077dd33

[7381 rows x 16 columns]>

In [246]:
# Missing data
receipts_data.isnull().sum()

index                         0
_id                           0
bonusPointsEarned          1401
bonusPointsEarnedReason    1401
createDate                    0
dateScanned                   0
finishedDate               1411
modifyDate                    0
pointsAwardedDate          1301
pointsEarned               1128
purchaseDate                458
purchasedItemCount          484
rewardsReceiptItemList      440
rewardsReceiptStatus          0
totalSpent                  435
userId                        0
dtype: int64

In [247]:
# finding unique points in "pointsEarned" field

print(f'Different points earned are {receipts_data["pointsEarned"].unique()}')

Different points earned are [5.00000e+02 1.50000e+02 5.00000e+00 7.50000e+02 2.50000e+02 1.00000e+02
 8.85000e+03 3.00000e+02         nan 3.89200e+02 1.85000e+02 3.50000e+01
 6.50000e+02 5.50000e+01 5.00000e+01 3.55000e+02 6.00000e+02 1.75000e+03
 3.50000e+02 2.25000e+02 2.75000e+02 2.50000e+01 7.55000e+02 1.80000e+03
 8.10000e+02 3.05000e+02 9.44980e+03 9.12000e+01 8.25000e+02 3.50600e+02
 1.25000e+02 7.93100e+02 2.00000e+02 3.25000e+03 0.00000e+00 4.00500e+03
 2.00500e+03 8.41200e+02 5.75000e+03 3.75000e+03 8.70000e+03 7.60000e+02
 7.80000e+02 9.20000e+03 1.00500e+03 1.99960e+03 1.89200e+02 8.95000e+03
 8.85000e+02 8.00000e+02 2.95000e+02 6.82400e+02 8.37400e+02 2.37800e+02
 1.60000e+02 8.55700e+02 6.05700e+02 2.41670e+03 1.80640e+03 4.05700e+02
 1.51690e+03 1.65830e+03 2.68580e+03 8.79100e+02 3.65940e+03 9.34400e+02
 8.77700e+02 9.22100e+02 1.54180e+03 1.00000e+03 5.74400e+02 5.06000e+01
 2.05550e+03 5.85000e+03 4.85000e+03 1.73600e+02 9.85000e+03 5.09000e+01
 2.30000e+03 6.73000e+02 4.05900e+02 2.14330e+03 1.55000e+03 9.86500e+02
 5.83400e+02 4.48050e+03 3.37990e+03 3.23600e+02 6.25730e+03 2.49770e+03
 1.17870e+03 1.44700e+03 1.72950e+03 1.47620e+03 1.70800e+03 1.07750e+03
 1.13510e+03 1.04430e+03 6.40700e+02 5.23600e+02 4.87700e+02 7.13720e+03
 1.20500e+03 4.00000e+02 1.01998e+04 8.50000e+02 9.46000e+01 1.85000e+03
 8.40000e+02 1.04980e+03 9.40000e+02 4.94470e+03 3.75000e+02 1.49950e+03
 2.09900e+02 2.09800e+02 2.10000e+02 2.09500e+02 7.89200e+02 3.50000e+03]

In [248]:
# Brands.json file data

In [249]:
brands_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
 8   cpg_$ref      1167 non-null   object
 9   cpg_$id.$oid  1167 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 91.3+ KB

In [250]:
brands_data_new.describe()

            barcode    topBrand
count  1.167000e+03  555.000000
mean   5.111115e+11    0.055856
std    2.874497e+05    0.229850
min    5.111110e+11    0.000000
25%    5.111112e+11    0.000000
50%    5.111114e+11    0.000000
75%    5.111117e+11    0.000000
max    5.111119e+11    1.000000

In [251]:
# Missing data

brands_data_new.isnull().sum()

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
cpg_$ref          0
cpg_$id.$oid      0
dtype: int64

In [252]:
# Checking for duplicate rows

print(brands_data_new.drop_duplicates)

<bound method DataFrame.drop_duplicates of                            _id       barcode            category  \
0     601ac115be37ce2ead437551  511111019862              Baking
1     601c5460be37ce2ead43755f  511111519928           Beverages
2     601ac142be37ce2ead43755d  511111819905              Baking
3     601ac142be37ce2ead43755a  511111519874              Baking
4     601ac142be37ce2ead43755e  511111319917      Candy & Sweets
...                        ...           ...                 ...
1162  5f77274dbe37ce6b592e90c0  511111116752              Baking
1163  5dc1fca91dda2c0ad7da64ae  511111706328  Breakfast & Cereal
1164  5f494c6e04db711dd8fe87e7  511111416173      Candy & Sweets
1165  5a021611e4b00efe02b02a57  511111400608             Grocery
1166  6026d757be37ce6369301468  511111019930              Baking

          categoryCode                                                cpg  \
0               BAKING  {'$id': {'$oid': '601ac114be37ce2ead437550'}, ...
1            BEVERAGES  {'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...
2               BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
3               BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
4     CANDY_AND_SWEETS  {'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...
...                ...                                                ...
1162            BAKING  {'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...
1163               NaN  {'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...
1164  CANDY_AND_SWEETS  {'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...
1165               NaN  {'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...
1166            BAKING  {'$id': {'$oid': '6026d757be37ce6369301467'}, ...

                           name  topBrand                      brandCode  \
0     test brand @1612366101024       0.0                            NaN
1                     Starbucks       0.0                      STARBUCKS
2     test brand @1612366146176       0.0  TEST BRANDCODE @1612366146176
3     test brand @1612366146051       0.0  TEST BRANDCODE @1612366146051
4     test brand @1612366146827       0.0  TEST BRANDCODE @1612366146827
...                         ...       ...                            ...
1162  test brand @1601644365844       NaN                            NaN
1163        Dippin Dots® Cereal       NaN             DIPPIN DOTS CEREAL
1164  test brand @1598639215217       NaN  TEST BRANDCODE @1598639215217
1165          LIPTON TEA Leaves       0.0              LIPTON TEA Leaves
1166  test brand @1613158231643       0.0  TEST BRANDCODE @1613158231644

     cpg_$ref              cpg_$id.$oid
0        Cogs  601ac114be37ce2ead437550
1        Cogs  5332f5fbe4b03c9a25efd0ba
2        Cogs  601ac142be37ce2ead437559
3        Cogs  601ac142be37ce2ead437559
4        Cogs  5332fa12e4b03c9a25efd1e7
...       ...                       ...
1162     Cogs  5f77274dbe37ce6b592e90bf
1163     Cogs  53e10d6368abd3c7065097cc
1164     Cogs  5332fa12e4b03c9a25efd1e7
1165     Cogs  5332f5f6e4b03c9a25efd0b4
1166     Cogs  6026d757be37ce6369301467

[1167 rows x 10 columns]>

In [253]:
# Dropping all the duplicates

print(brands_data_new.drop(columns=['cpg'],axis=1))

                           _id       barcode            category  \
0     601ac115be37ce2ead437551  511111019862              Baking
1     601c5460be37ce2ead43755f  511111519928           Beverages
2     601ac142be37ce2ead43755d  511111819905              Baking
3     601ac142be37ce2ead43755a  511111519874              Baking
4     601ac142be37ce2ead43755e  511111319917      Candy & Sweets
...                        ...           ...                 ...
1162  5f77274dbe37ce6b592e90c0  511111116752              Baking
1163  5dc1fca91dda2c0ad7da64ae  511111706328  Breakfast & Cereal
1164  5f494c6e04db711dd8fe87e7  511111416173      Candy & Sweets
1165  5a021611e4b00efe02b02a57  511111400608             Grocery
1166  6026d757be37ce6369301468  511111019930              Baking

          categoryCode                       name  topBrand  \
0               BAKING  test brand @1612366101024       0.0
1            BEVERAGES                  Starbucks       0.0
2               BAKING  test brand @1612366146176       0.0
3               BAKING  test brand @1612366146051       0.0
4     CANDY_AND_SWEETS  test brand @1612366146827       0.0
...                ...                        ...       ...
1162            BAKING  test brand @1601644365844       NaN
1163               NaN        Dippin Dots® Cereal       NaN
1164  CANDY_AND_SWEETS  test brand @1598639215217       NaN
1165               NaN          LIPTON TEA Leaves       0.0
1166            BAKING  test brand @1613158231643       0.0

                          brandCode cpg_$ref              cpg_$id.$oid
0                               NaN     Cogs  601ac114be37ce2ead437550
1                         STARBUCKS     Cogs  5332f5fbe4b03c9a25efd0ba
2     TEST BRANDCODE @1612366146176     Cogs  601ac142be37ce2ead437559
3     TEST BRANDCODE @1612366146051     Cogs  601ac142be37ce2ead437559
4     TEST BRANDCODE @1612366146827     Cogs  5332fa12e4b03c9a25efd1e7
...                             ...      ...                       ...
1162                            NaN     Cogs  5f77274dbe37ce6b592e90bf
1163             DIPPIN DOTS CEREAL     Cogs  53e10d6368abd3c7065097cc
1164  TEST BRANDCODE @1598639215217     Cogs  5332fa12e4b03c9a25efd1e7
1165              LIPTON TEA Leaves     Cogs  5332f5f6e4b03c9a25efd0b4
1166  TEST BRANDCODE @1613158231644     Cogs  6026d757be37ce6369301467

[1167 rows x 9 columns]

In [254]:
# Number of unique values in the "category" field

print(f'Different categories {brands_data_new["category"].unique()}')

Different categories ['Baking' 'Beverages' 'Candy & Sweets' 'Condiments & Sauces'
 'Canned Goods & Soups' nan 'Magazines' 'Breakfast & Cereal'
 'Beer Wine Spirits' 'Health & Wellness' 'Beauty' 'Baby' 'Frozen'
 'Grocery' 'Snacks' 'Household' 'Personal Care' 'Dairy'
 'Cleaning & Home Improvement' 'Deli' 'Beauty & Personal Care'
 'Bread & Bakery' 'Outdoor' 'Dairy & Refrigerated']